body {
    background-image: url(background.jpg);
    background-size: 100%;
    
  }

.box {
    width: 1200px;
    height: 750px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00000075;
    border-radius: 2%;
    padding: 50px;
    
}

header, nav {
    text-align: center;
}

#logo {
    width: 250px;
    margin-top: 50px;
}

#title {
    font-size:xx-large;
    color: limegreen;
    font-family: 'Poppins', sans-serif;
    display: block;
    font-weight: 600;
}

nav {
    background-color: limegreen;
    padding: 10px;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
}

main {
    margin-top: 20px;
    margin-left: 90px;
}

main > div {
    margin-bottom: 30px;
}

.dispositivo {
    font-size:x-large;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

.locazione, .batteria {
    font-size: medium ;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    display: block;
}

.carica {
    height: 30px;
    border-radius: 4px;
}

.media {
    background-color: #dfae32;
    width: 320px;
}

.alta {
    background-color: #46b442;
    width: 600px;
}

.bassa {
    background-color: #c24b4e;
    width: 150px;
}